body {
    font-family: 'Roboto', sans-serif;
}
#navbar {
    height: 68px;
    position: fixed;      /*fixed nav bar*/
    margin: 0;
    padding: 0;
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
}
#navbar > :nth-child(n) {
    float: left;
    
}
#navbar > a > img {
    width: 120px;
    margin-top: -30px;
    margin-left: 20px;
}
ul {
    margin-left: 20px;
    list-style: none;
}
ul li {
    display: inline-block;      /* Items in drop down menu */
    position: relative;
    line-height: 34px;
    text-align: left;
    font-size: 16px;
    margin-top: -10px;
    margin-left: -40px;
    color: rgb(24, 31, 56);
}
ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(24, 31, 56);
}
.dropdown li:nth-child(1) {
    padding-top: 30px;
}
ul li a:hover {
    color: rgb(40, 141, 121);
}
.dropdown {
    width: 180px;
    display: none;
    position: absolute;
    margin-left: -10px;
    background-color: rgb(252, 252, 252);
}
ul li:hover ul.dropdown{ 
    display: block;
}
.solution-menu {
    margin-left: -60px;
}
.grey-heading > a {
    color: rgb(143, 143, 143);
    font-size: 12px;
    letter-spacing: 2px;
}
.grey-heading > a:hover {
    color: rgb(143, 143, 143);
    cursor: auto;       
}
.all-teams > a {
    color: rgb(34, 121, 103);
}
.all-teams > a:hover {
    color: rgb(29, 175, 146);
    font-size: 17px;
}
.solution-first-part {
    float: left;
    width: 200px;
}
.solution-second-part {
    float: right;
}
.price {
    margin-left: -130px;
}
.resource-menu > a{
    margin-left: -40px;
}
.resource-first-part {
    width: 200px;
}
.resource-third-part {
    float: right;
}
.login > a{
    margin-left: -120px;
    color: rgb(38, 140, 120);
}
.login > a:hover {
    color:  rgb(7, 206, 67);
}
.start-for-free {
    float: right;
    margin-left: 1100px;
    margin-top: -98px;
    width: 120px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(7, 206, 67);
    border: none;
    font-weight: bold;
}
.start-for-free:hover {
    background-color: rgb(4, 186, 113);
    cursor: pointer;
    transition-delay: 0.1s;
}
#first-section {
    height: 850px;
    width: auto;
    display: grid;
    grid-template-areas: firstimg midtext secimg;
    grid-gap: 20px;
    margin-top: 80px;
    overflow: hidden;
}
.first-sec-img1 {
    height: 450px;
    margin-left: -140px;
    margin-top: -150px;
    grid-area: firstimg;
}
.first-sec-img2 {
    height: 450px;
    width: 450px;
    margin-left: 900px;
    margin-top: -170px;
    grid-area: secimg;
}
.first-section-text {
    width: 680px;
    height: 500px;
    margin-left: 300px;
    color: rgb(24, 31, 56);
    grid-area: midtext;
    margin-top: -210px;
    text-align: center;
}
.first-section-text > h1 {
    font-size: 55px;
}
.first-section-text > p {
    font-size: 22px;
    text-align: center;
    padding: 10px 40px;
}
.first-section-text > input {
    height: 50px;
    width: 300px;
    font-size: 24px;
    border: 1px solid rgb(101, 118, 148);
    border-radius: 5px;
    background-color: rgb(248, 249, 251);
    margin-top: 30px;
    padding: 5px 10px;
}
.first-section-text > input:hover {
    border: 2px solid rgb(101, 118, 148);
    transition-delay: 0.1s;
}
::placeholder {
    font-size: 18px;
    padding: 15px 20px;
    align-items: center;
    color: rgb(24, 31, 56);
}
.first-section-text > button {
    height: 60px;
    border-radius: 5px;
    margin-left: 15px;
    background-color:rgb(8, 207, 101);
    color: white;
    font-size: 18px;
    cursor: pointer;
    border: none;
    padding: 18px 35px;
}
.first-section-text > button:hover {
    background-color: rgb(4, 186, 113);
}
.our-story {
    margin-top: 70px;
    margin-left: 220px;
    width: 160px;
    font-size: 21px;
    color: rgb(4, 69, 77);
}
.fa {
    padding-right: 12px;
}
.our-story:hover {
    color: #007860;
    cursor: pointer;
}
.customers {
    height: 200px;
    width: auto;
    margin-top: -200px;
}
.customers > p {
    color: #777777;
    font-size: 14px;
    text-align: center;
    letter-spacing: 1px;
}
.companies {
    width: auto;
    height: 80px;
    margin-top: 25px;
    display: flex;
}
.companies > img {
    margin-left: 55px;
}
.collaborate-section, .stay-prductive {
    height: 600px;
    width: auto;
    display: flex;
}
.collaborate-section > div,
.stay-prductive > div,
.work-your-way-box > div {
    padding: 30px 50px;
}
.collaborate-section > div > p,
.work-your-way-box > div > p{
    color:#181F38;
    line-height: 30px;
    letter-spacing: 1px;
    font-size: 18px;
}
.collaborate-section > div > .collaborate-heading,
.work-your-way-box > div > .collaborate-heading {
    color: #6580AD;
    letter-spacing: 2px;
    font-size: 14px;
}
.collaborate-section > div > h1 {
    color:#181F38;
    line-height: 42px;
}
.collaborate-section > div > a {
    font-size: 22px;
    text-decoration: none;
    letter-spacing: 1px;
    color: #026652;
}
.collaborate-section > div > a:hover,
.stay-prductive > div > a:hover,
.work-your-way-box > div > a:hover {
    color:  #01886d;
}
.collaborate-section > div > a > i,
.stay-prductive > div > a > i {
    padding-left: 10px;
}
.join-collaborate {
    margin-left: 500px;
    margin-top: 100px;
    width: 200px;
    height: 60px;
    font-size: 20px;
    padding: 10px;
    background-color: white;
    border: 2px solid #0A615A;
    color: #0A615A;
    border-radius: 5px;
    font-weight: 540;
}
.join-collaborate:hover {
    background-color: #0A615A;
    color: white;
    cursor: pointer;
}
.stay-prductive {
    width: 100%;
    height: 730px;
    margin-top: 50px;
    background-color: #F5F2EB;
}
.stay-prductive > div {
    padding-top: 100px;
}
.stay-prductive > div > h1,
.work-your-way-box > div > h1 {
    color: #1d2646;
}
.stay-prductive > div > p,
.work-your-way-box > div > p {
    color: #1d2646;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
}
.stay-prductive > div > a,
.work-your-way-box > div > a{
    color: #0A615A;
    text-decoration: none;
    font-size: 20px;
}
.tranform-box {
    height: 300px;
    width: 100%;
    background-color: #04454D;
    float: left;
}
.left-img, .right-img {         /* Transform box imgs left and right side */
    width: 300px;
    height: 300px;
    background-image: url("https://www.wrike.com/content/uploads/2020/06/rebrand-cta-center-2_left_darkgreen_1x-1.png");
    background-size: 300px;
    background-position: -90px;
    background-repeat: no-repeat;
    float: left;
}
.transform-box-text {
    float: left;
    text-align: center;
    padding-top: 80px;
    padding-left: 30px;
    line-height: 30px;
    color: white;
}
.transform-box-text > h1 {
    font-size: 40px;
    padding-bottom: 10px;
}
.right-img {
    background-image: url("https://www.wrike.com/content/uploads/2020/06/rebrand-cta-center-2_right_darkgreen_1x.png");
    float: right;
    background-position: 100px;
}
.work-your-way-box {
    height: 700px;
    border: 1px solid #EBF5F3;
    background-color: #EBF5F3;
    display: flex;
    
}
.work-your-way-box > div {
    padding-top: 120px;
}
.work-your-way-box > :nth-child(1) {
    padding-top: 220px;
}
.work-your-way-box > :nth-child(2) {
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22704%22%20height%3D%22512%22%20viewBox%3D%220%200%20704%20512%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cg%20clip-path%3D%22url%28%23clip0%29%22%3E%20%3Cellipse%20rx%3D%22142%22%20ry%3D%22141%22%20transform%3D%22matrix%28-1%200%200%201%20562%20371%29%22%20fill%3D%22%238cf09b%22%2F%3E%20%3Cpath%20d%3D%22M380%20195L-3.05176e-05%20195L-2.74578e-05%20160C-1.97326e-05%2071.6344%2071.6344%203.5594e-06%20160%201.12846e-05L380%203.05176e-05L380%20195Z%22%20fill%3D%22%2304ba71%22%2F%3E%20%3C%2Fg%3E%20%3Cdefs%3E%20%3CclipPath%20id%3D%22clip0%22%3E%20%3Cpath%20d%3D%22M0%200H704V512H0V0Z%22%20fill%3D%22white%22%2F%3E%20%3C%2FclipPath%3E%20%3C%2Fdefs%3E%20%3C%2Fsvg%3E%20);
    background-size: 700px;
    background-repeat:no-repeat;
    background-position: 15px;
    background-position-y: 140px;
}
.big-div {
    height: 2300px;
    width: auto;
    background-color: #EBF5F3;
}
.comments-box {
    height: 300px;
    width: auto;
    text-align: left;
    padding-top: 20px;
    padding-left: 110px;
    border: 2px solid #08CF65;
    margin: 0px 20px;
    letter-spacing: 1px;
    line-height: 50px;
    color: #2B3857;
    background-image: url(data:image/svg+xml,%3Csvg%20width%3D%22100%22%20height%3D%2264%22%20viewBox%3D%220%200%20100%2064%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%20%3Cpath%20d%3D%22M0%2024.32C0%2010.8884%2010.7226%200%2023.9496%200C37.1766%200%2047.8992%2010.8884%2047.8992%2024.32V40.1067H0V24.32Z%22%20fill%3D%22%2308cf65%22%2F%3E%20%3Cpath%20d%3D%22M52.1008%2024.32C52.1008%2010.8884%2062.8234%200%2076.0504%200C89.2774%200%20100%2010.8884%20100%2024.32V40.1067H52.1008V24.32Z%22%20fill%3D%22%2308cf65%22%2F%3E%20%3Cpath%20d%3D%22M21.9512%2064H22.7574C36.6805%2064%2047.9675%2052.5385%2047.9675%2038.4V30.72H21.9512V64Z%22%20fill%3D%22%2308cf65%22%2F%3E%20%3Cpath%20d%3D%22M73.9837%2064H74.7899C88.7131%2064%20100%2052.5385%20100%2038.4V30.72H73.9837V64Z%22%20fill%3D%22%2308cf65%22%2F%3E%20%3C%2Fsvg%3E%20);
    background-repeat: no-repeat;
    background-position: 5px 10px;
    
}
.comment-head {
    font-size: 28px;
    color: #2B3857;
}
.names {
    font-size: 17px;
    color: #2B3857;
}
.comments-box > img {
    float: right;
    margin-top: -80px;
    margin-right: 120px;
}
#end-to-end-box > div {
    margin-top: -50px;
}
#end-to-end-box > :nth-child(1) {
    margin-top: -100px;
}
#last-comment-box {
    height: 260px;
    margin-top: -30px;
}
#master-data-box > div{
    float: left;
    background-image: none;
}
#master-data-box > div > img {
    margin-top: -150px;
}
#master-data-box > :nth-child(2) {
    margin-top: -10px;
}
#final-comment-box {
    height: 300px;
    margin-top: -100px;
}
.integration-box {
    height: 500px;
    width: 1335px;
    background-color: #04454D;
    float: left;
    background-image: url("https://www.wrike.com/content/uploads/2020/06/rebrand-promo-integrations_colored-bg_desktop.svg");
    background-repeat: no-repeat;   /* Background img no-repeat */
    background-position-x: 700px;
    background-position-y: 10px;
}
.integration-box > :nth-child(n) {
    float: left;
}
.integration-box > :nth-child(1) {
    margin-left: 40px;
    margin-top: 150px;
}
.integration-box > :nth-child(1) > h1,p {
    color: white;
}
.integration-box > :nth-child(1) > p {
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.integration-box > :nth-child(1) > a {
    color: #08CF65;
    font-size: 20px;
    text-decoration: none;
}
.integration-box > :nth-child(1) > a:hover {
    color: #8CF09B;
}
.case-studies {
    height: 800px;
    width: auto;
    margin-top: 500px;
}
.case-studies > h1 {
    padding-top: 100px;
    text-align: center;
    font-size: 40px;
    color: rgb(24, 31, 56);
}
.case-study-img {
    padding-top: 50px;
    margin-left: 60px;
    float: left;
}
.case-study-img > img {
    height: 400px;
    border-radius: 30px;
}
.case-study-desc {
    font-size: 30px;
    margin-right: 40px;
    margin-top: 60px;
    line-height: 55px;
    float: right;
}
.case-study-people {
    font-size: 20px;
}
.case-stuies-btn {
    margin-top: 550px;
    margin-left: 650px;
}
.case-stuies-btn > .btn1,
.case-stuies-btn > .btn2{
    height: 10px;
    width: 40px;
    margin-left: 10px;
    border-radius: 30px;
    background-color: limegreen;
    cursor: pointer;
}
.case-stuies-btn > .btn2 {
    margin-top: -10px;
    margin-left: 60px;
    background-color: grey;
}
.case-study-img2 {
    padding-top: 50px;
    margin-left: 60px;
    margin-top: -1550px;
    float: left;
}
.case-study-img2 > img {
    height: 400px;
    border-radius: 30px;
}
.case-study-desc2 {
    font-size: 30px;
    margin-right: 70px;
    margin-top: -1500px;
    line-height: 55px;
    float: right;
    color:rgb(24, 31, 56);
}
.case-study-people2 {
    font-size: 20px;
    color: grey
}
.case-study-comment2 {
    color:rgb(24, 31, 56);
}
footer {
    height: 900px;
    display: grid;
    grid-template-areas: "prod sol res comp"        /* Footer design using grids*/
                         "late late late late"
                         "link link link link"
                         "app app app app";
    background-color: rgb(12, 50, 69);
}
.product {
    height: 350px;
    width: 300px;
    padding-left: 20px;
    grid-area: prod;
}
.product > h2, .solutions > h2, .resources > h2, .product > h2, .latest > h2, .company > h2, .links > i {
    color: white;
}
.product > a, .solutions > a, .resources > a, .product > a, .latest > a, .company > a {
    line-height: 32px;
    text-decoration: none;
    color: rgb(206, 206, 206);
}
.product > a:hover, .solutions > a:hover, .resources > a:hover, .product > a:hover, .latest > a:hover, .company > a:hover{
    text-decoration: underline;
    color: #84DB77;
}
.solutions {
    height: 350px;
    width: 300px;
    padding-left: 20px;
    grid-area: sol;
}
.resources {
    height: 350px;
    width: 300px;
    padding-left: 20px;
    grid-area: res;
}
.company {
    height: 350px;
    width: 300px;
    padding-left: 20px;
    grid-area: comp;
}
.latest {
    height: 250px;
    padding-left: 20px;
    grid-area: late;
}
.links {
    height: 100px;
    float: left;
    padding-left: 20px;
    grid-area: link;
}
.links > i {
    padding-top: 40px;
    font-size: 24px;
    padding-right: 20px;
}
.links > i:hover {
    color: #84DB77;
    cursor: pointer;
}
.app-store {
    height: 100px;
    padding-left: 20px;
    grid-area: app;
    float: left;
}
.app-store > img {
    padding-top: 20px;
    padding-right: 20px;
}
.line {
    height: 1px;
    width: 1280px;
    background-color: #84DB77;
}
.app-store > p > a {
    color: white;
}
.app-store > p > a:hover {
    color: grey;
    text-decoration: none;
}